<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Todo一覧</title>
	<meta name="viewport" content="width=device-width,initial-scale=1" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
</head>
<body>
<div data-role="page">
	<div data-role="main" class="ui-content">
		<h1>Todo一覧</h1>
		<table>
			<tr>
				<th>ID</th>
				<th>氏名</th>
				<th>起票日</th>
				<th>期限</th>
				<th>プロジェクト</th>
				<th>Todo内容</th>
				<th>メモ</th>
				<th>ステータス</th>
				<th>完了日</th>
				<th></th>
			</tr>
			<tr th:each="obj : ${challenge}">
				<td th:text="${obj.id}"></td>
				<td th:text="${obj.name}"></td>
				<td th:text="${#calendars.format(obj.startDate,'yyyy/MM/dd')}"></td>
				<td th:text="${#calendars.format(obj.endDate,'yyyy/MM/dd')}"></td>
				<td th:text="${obj.project}"></td>
				<td th:utext="${obj.challenge}"></td>
				<td th:utext="${obj.memo}"></td>
				<td th:text="${obj.state}"></td>
				<td th:text="${#calendars.format(obj.compDate,'yyyy/MM/dd')}"></td>
				<td><a th:href="'/edit/'+${obj.id}">編集</a></td>
			</tr>
		</table>
		<p>
			<a href="/input" data-ajax="false">入力</a>
		</p>
	</div>
	<div th:include="common::footer"></div>
</div>
</body>
</html>